.w3-theme-l5 {color:#000 !important; background-color:#fceef1 !important}
.w3-theme-l4 {color:#000 !important; background-color:#f6c7d0 !important}
.w3-theme-l3 {color:#000 !important; background-color:#ec8fa0 !important}
.w3-theme-l2 {color:#fff !important; background-color:#e35871 !important}
.w3-theme-l1 {color:#fff !important; background-color:#d52444 !important}
.w3-theme-d1 {color:#fff !important; background-color:#8d182d !important}
.w3-theme-d2 {color:#fff !important; background-color:#7e1528 !important}
.w3-theme-d3 {color:#fff !important; background-color:#6e1323 !important}
.w3-theme-d4 {color:#fff !important; background-color:#5e101e !important}
.w3-theme-d5 {color:#fff !important; background-color:#4e0d19 !important}

.w3-theme-light {color:#000 !important; background-color:#fceef1 !important}
.w3-theme-dark {color:#fff !important; background-color:#4e0d19 !important}
.w3-theme-action {color:#fff !important; background-color:#4e0d19 !important}

.w3-theme {color:#fff !important; background-color:#9e1b32 !important}
.w3-theme2 {color:#fff !important; background-color:#828a8f !important}
.w3-text-theme {color:#9e1b32 !important}
.w3-border-theme {border-color:#9e1b32 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#9e1b32 !important}
.w3-hover-text-theme {color:#9e1b32 !important}
.w3-hover-border-theme:hover {border-color:#9e1b32 !important}